# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<br>
- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- Convert Minutes to Hours with Division

Some of the popular languages that Data Scientists use are:
1. Python
2. R.
3. SQL.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. NumPy

| Data Science Tools | 
| --- |
| Jupyter Notebooks | 
| Zeppelin Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
<br> Finn Hutchison